{% extends "base.html" %}

{% block head_title %}日報一覧{% endblock %}

{% block content %}
<div class="container">
    <h2 class="my-3 text-start mx-auto" style="max-width:700px;">
        {% if not profile %}日報リスト一覧{% else %}
        {{profile.username}}の日報一覧{% endif %}
    </h2>
</div>

<div class="container d-flex justify-content-center flex-wrap-reverse py-3">
    <div class="flex-grow-1">
        {% if filter.qs %}
        {% for object in filter.qs %}
        <div class="card mx-auto mb-2" style="max-width:700px; min-width:300px;">
            <div class="card-header">
                {{ object.date|date:"Y年n年j日" }}
                {% if not object.release_flag %}
                <span class="badge bg-secondary">下書き</span>
                {% endif %}
            </div>
            <div class="card-body">
                <h5 class="card-title">
                    {% if object.user == request.user %}
                    <span class="float-end text-danger" data-bs-toggle="modal"
                          data-bs-target="#deleteModal-{{object.slug}}">
                        <i class="bi bi-trash-fill"></i>
                    </span>
                    <a href="{% url 'day_repo_edit' object.slug %}">{{ object.title }}</a>
                    {% else %}
                    <a href="{% url 'day_repo_detail' object.slug %}">{{ object.title }}</a>
                    {% endif %}
                </h5>
                <p class="card-text">{{ object.content }}</p>
            </div>
            <div class="card-footer">by
                {% if object.user == request.user %}
                <span class="badge bg-primary">
                    <a class="text-light" href={{object.get_profile_page_url}}>あなた</a>
                </span>
                {% else %}
                <span class="badge bg-secondary">
                    <a class="text-light" href={{object.get_profile_page_url}}>
                        {{ object.user.profile.username }}
                    </a>
                </span>
                {% endif %}
            </div>
        </div>
        {% include "day_repo/day-repo-delete.html" with object=object %}
        {% endfor %}
        {% else %}
        <div>表示する日報がありません。</div>
        {% endif %}
    </div><!-- 一覧リストdiv終了-->
    <!-- 右側を表示する -->
    {% include 'day_repo/day-repo-filter.html' %}
</div>
{% endblock %}