{% extends "base.html" %}

{% block head_title %}日報一覧{% endblock %}

{% block content %}

<div class="container">
    <div class="mt-3 d-flex justify-content-between align-items-center">
        <h1 class="mt-3">日報一覧</h1>
        <a href="{% url 'day_repo_create' %}" class="btn btn-outline-primary float-right">
            <i class="bi bi-plus"></i>
        </a>
    </div>
    {% for report_model in object_list %}
    <div class="card my-3 mx-auto" style="max-width:700px;">
        <div class="card-header">
            {{ report_model.created_date_time|date:"Y年n年j日" }}
        </div>
        <div class="card-body">
            <h5 class="card-title">
                {% if report_model.user == request.user %}
                <a href="{% url 'day_repo_edit' report_model.slug %}">
                    {{ report_model.title}}<span style="font-size:10px;">(編集)</span>
                </a>
                {% else %}
                <a href="{% url 'day_repo_detail' report_model.slug %}">
                    {{ report_model.title}}
                </a>
                {% endif %}
            </h5>
            <p class="card-text">
                {{ report_model.content }}
            </p>
        </div>
        <div class="card-footer">
            by
            {% if report_model.user == request.user %}
            <span class="badge bg-primary">あなた</span>
            {% else %}
            <span class="badge bg-secondary">{{ report_model.user.profile.username }}</span>
            {% endif %}
            {% if not report_model.release_flag %}
            (非公開)
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}